*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color:  #649146;
}
.logo{
    margin-left: 50px;
}
nav{
    flex:1;
    text-align:right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right:20px;
}
a{
    color: #ffffff;
}
.icons{
    margin-right: 50px;
}
.title{
    margin-left: 50px;
}
.small-container{
    display: inline-block;
    margin: 60px 30px 0 30px;
}
.row .col-4{
    display: inline-block;
    margin: 30px 20px 0px 20px;
    
}
.col-4 img{
    padding: 0;
}
.col-4{
    padding: 10px;
}



.rating.fa{
    color:#ffffff;
}








/*==Footer==*/
.footer{
   background: #649146;
   color:#ffffff;
   font-size: 14px;
   padding: 60px 0 20px;
   display: flex;
   align-items: center;

  
  
  
  
  
  
  
   display: flex;
   align-items: center;
   padding: 20px;
   background-color:  #649146;



}
.aa{
    flex:1;
    text-align:left;
}

